html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.frame {
    position: relative;
    height: 650px;
    width: 1400px;
    background-color: blue;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

.inventory {
    
}

.speech {

}